@charset "utf-8";
/* CSS Document */


body {
  background-color: #e3f2fd;
  padding-top: 120px;
  font-family: Roboto, sans-serif;
}

 /* @media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}  */

.navbar a {
  color: #17458f;
}

.dropdown .dropdown-menu .dropdown-RotaryBlue .dropdown-item:hover {
  background-color: #0d47a1 !important;
}
.dropdown-menu a:hover {
  background-image: none;
  background-color: #0d47a1 !important;
  color: white;
}
.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.navbar{
  border-bottom: 5px solid #eaeef1;
  border-bottom-style:ridge;
}

.navbar .navbar-brand {
  background-image: url(../images/Rotary_sm.png);
  background-repeat: no-repeat;
  display: block !important;
  padding: 10px 120px 0px 0px !important;
  margin-top: 10px;
  margin-right: 0px !important;
  margin-left: -10px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  height: 60px;
  color: #001a5a;
  position: static;
}
.cbName {
  margin-left: -30px !important;
  margin-top: -9px;
  width: 175px !important;
  margin-right: 0px !important;
}

@media (min-width: 576px) {
  .navbar .navbar-brand {
    background-image: url(../images/Rotary_sm.png);
    background-repeat: no-repeat;
    display: block !important;
    /* margin-top: 2px; */
    margin-right: 0px !important;
    margin-left: -10px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    min-height: 50px;
    color: #001a5a;
  }
  .cbName {
    width: 400px !important;
    margin-left: -80px;
    margin-right: 0px !important;
    font-size: 18px !important;
    background-color: transparent !important;
  }

}
@media (min-width: 767px) {
  .navbar .navbar-brand {
    background-image: url(../images/Rotary.png);
    background-repeat: no-repeat;
    display: block !important;
    padding: 10px 100px !important;
    margin-left: 10px !important;
    margin-top: 2px;
    margin-right: 60px !important;
    min-height: 80px;
    color: #001a5a;
  }

  .cbName {
    width: 400px !important;
    margin-left: -5px !important;
    margin-right: 0px !important;
    margin-top: -5px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    background-color: transparent !important;
  }
  
}
@media (min-width: 1024px) {
  .navbar .navbar-brand {
    background-image: url(../images/Rotary.png);
    background-repeat: no-repeat;
    display: block !important;
    padding: 10px 100px !important;
    margin-right: -5px !important;
    min-height: 80px;
    color: #001a5a;
  }

  
}

.mainTest {
  /* min-height: 900px; */

}

.content-left{
  background-color: white;
 
}

.content-right{
  background-color: whitesmoke;
}
.footer-w{
  white-space: nowrap;
}
.ft-test {
  min-height: 100px;
  background-color: #0d47a1;
  color:white;
}

.fa-bars {
  color: #F7A81B;
}

.home-color{
  color: rgb(0, 0, 205);
}

.blue-text {
  color: #2196f3!important;
}


.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.nav-rotary {
  color: #5a7281;
  background-color: #f8f9fa;
  border: none !important;
  box-shadow: none !important;
  outline: 0;
  font-size: 18px !important;
  font-weight: 600;
}

.nav-rotary-row {
  background-color: #f8f9fa;
  margin-top: -14px;
}

.red {
  color: red;
  font-weight: bold;
}
.blue {
  color: blue;
}

.x-large {
  font-size: x-large;
}

a {
  text-decoration: none;
}

